*.fdb_latexmk
*.fls
*.o
*.lo
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~ #*#
.#*
.*.swp
.DS_Store
*._*
*.aux
*.log
*.out
*.synctex.gz
*.thm
*.toc
*.snm
*.bbl
*.nav
*.blg
*.synctex
.nfs.*
*.blablaabla
*.m~
*~
*.dvi
*.out.ps
*.ps
